body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;

}

    /* design text */
u{
    text-decoration-skip-ink: none;
}
a{
    text-decoration: none;
}
.a {
    color: #0D61A1;
}
.bl {
    color: #0D61A1;
}

.text-slash {
    text-decoration:line-through;
}

a:hover{
    color: black;
    opacity: 0.9;
}

h1, h2, p{
   margin-bottom: 0px;
}
mark{
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.mark{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.underline{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

    /* font-family */
.p-r {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.p-sm {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.p-b {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.r-r {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.r-m {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.r-b {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}



    /* display */

.d-f{
    display: flex;
}
.d-n{
    display: none;
}
.d-b{
    display: block;
}


    /* font-color */
.white{
    color: white;
}
.black{
    color: black;
}
.light-green {
    color: #E3FF77;
}



    /* text align */
.t-a-c{
    text-align: center;
}
.t-a-ed{
    text-align: end;
}
.t-a-s{
    text-align: start;
}
    /* justify content */

.j-c-c{
    justify-content: center;
}
.j-c-sb{
    justify-content: space-between;
}
.j-c-e{
    justify-content: end;
}
.j-c-sa{
    justify-content: space-around;
}
.j-c-ev{
    justify-content: space-evenly;
}

    /* align item */

.a-i-c{
    align-items: center;
}
.a-i-e{
    align-items: end;
}
.a-i-s{
    align-items: start;
}
.a-s-e{
    align-self: end;
}
    /* section-spacer */

.spacer{
    height: 30px;
}

    /* background color*/
.bg-dash{
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #8C519B 0%, #8C519B 50%, transparent 50%);
    background-size: 20px 1px;
    background-repeat: repeat-x;
}
.sales-bg-linear{
    background-image: linear-gradient(to bottom, #9ED5BA, #5AB5AD);
}
.bg-none{
    background-color: transparent;
}
.bg-white{
    background-color: #fff;
}
.bg-green{
    background-color: #5EA640;
}
.bg-gray{
    background-color: #F0F4F7;
}
.gray-1 {
    color: #70899D;
}


/* font-size */
.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}
.fs-11{
    font-size: 11px;
}
.fs-13{
    font-size: 13px;
}
.fs-15{
    font-size: 15px;
}

.fs-17{
    font-size: 17px;
}
.fs-18{
    font-size: 18px;
}
.fs-19{
    font-size: 19px;
}
.fs-20{
    font-size: 20px
}
.fs-21{
    font-size: 21px
}
.fs-22{
    font-size: 22px;
}
.fs-23{
    font-size: 23px;
}
.fs-24{
    font-size: 24px;
}
.fs-25{
    font-size: 25px;
}
.fs-26{
    font-size: 26px;
}
.fs-28{
    font-size: 28px;
}
.fs-30{
    font-size: 30px;
}
.fs-39{
    font-size: 39px;
}
.fs-38{
    font-size: 38px;
}
.fs-34{
    font-size: 34px;
}
.fs-34{
    font-size: 34px;
}
.fs-53{
    font-size: 53px;
}
.fs-50{
    font-size: 50px;
}
.fs-55{
    font-size: 55px;
}
.fs-40{
    font-size: 40px;
}
.fs-44{
    font-size: 44px;
}
.fs-42{
    font-size: 42px;
}
.fs-45{
    font-size: 45px;
}
.fs-35{
    font-size: 35px;
}
.fs-65{
    font-size: 65px;
}
.fs-80{
    font-size: 80px;
}
.fs-85{
    font-size: 85px;
}

.fs-100{
    font-size: 100px;
}

    /* font-weight */
.fw-600{
    font-weight: 600;
}
    /* max width  */

.mw-1920{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    
}
.mw-285 {
    max-width: 285px;
}
.mw-250 {
    max-width: 185px;
}
.mw-170 {
    max-width: 250px;
}

.mw-1160{
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.mw-970 {
    max-width: 970px;
}
.mw-720 {
    max-width: 720px;
}
.mw-700 {
    max-width: 700px;
}
.mw-330 {
    max-width: 330px;
}
.mw-325 {
    max-width: 330px;
}
.mw-505 {
    max-width: 510px;
}
.mw-130 {
    max-width: 130px;
}

.mw-fit{
    max-width: fit-content;
}



    /* width */
.w-60{
    width: 60%;
}



    /* section-padding */

.header-pads{
    padding: 0px 200px;
}
.footer-pads{
    padding: 30px 200px 50px 200px;
}
.sales-pads{
    padding: 30px 150px 30px 150px;
}
.sec-pads{
    padding: 0 200px;
}
.sec-pads-1{
    padding: 30px 200px;
}


    /* inner-padding */

.inner-pads{
    padding: 20px;
}
.inner-pads-1{
    padding: 50px;
}
.inner-pads-2{
    padding: 30px;
}
.inner-pads-3{
    padding: 30px 50px;
}
.inner-pads-4{
    padding: 0px 50px;
}
.inner-pads-5{
    padding: 10px;
}

.inner-pads-6{
    padding: 20px 50px;
}

    /* padding */
.p-10{
    padding: 10px;
}
.p-11-24{
    padding: 11px 24px;
}

/* gap */
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}
.gap-50{
    gap: 50px;
}
.gap-100{
    gap: 120px;
}


    /* margins */
.mar-auto{
    margin-left: auto;
    margin-right: auto;
}
.marl-auto{
    margin-left: auto;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt--20{
    margin-top: -20px;
}
.bt-4 {
    border-top: 4px solid #5EA640;
}
.bg-green {
    background-color: #5EA640;
}
.green {
    color: #5EA640;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}



    /* border radius */
.br-tr{
    border-radius: 30px 30px 0px 0px;
}
.br-top{
    border-radius: 15px 15px 0px 0px;
}
.br-all-25{
    border-radius: 25px;
}
.br-all-50{
    border-radius: 50px;
}
.br-27{
    border-radius: 27px;
}
.br-15{
    border-radius: 15px;
}
.br-10{
    border-radius: 10px;
}
.br-10-s{
    border-radius: 10px;
    background: transparent url('img/Rectangle 52.png') 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 20px #00000029;
}
.br-all{
    border-radius: 30px;
}

    /* border */
.bord-all{
    border: 1px solid rgb(5, 97, 86, 0.2);
}
.bord-top{
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}
.bord-all-black{
    border: 1px solid #2B2B2B;
}
.bord-right{
    border-right: 1px solid #fff;
}
.bord-all-b{
    border: 1px solid #2B2B2B;
}
.border-b{
    border: 0.5px solid #1D90C9;
}
.bord-b{
    overflow: hidden;
    position: relative;
}


    /* positioning */
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
    top: 30%;
    left: 2%;
}
.z-index-2 {
    z-index: 2;
}
.z-index-1 {
    z-index: 1;
}


/* line-height */

.lh-120-p{
    line-height: 120%;
}
.lh-130-p{
    line-height: 130%;
}

/* other */
.fdc{
    flex-direction: column;
}
.f-1{
    flex: 1;
}
.fl-auto{
    flex: 1 0 auto;
}

.fl-w{
    flex-wrap: wrap;
}
.w-b{
    word-break: break-all;
}
.br-n br{
    display: none;
}
.rot--5{
    -ms-transform: rotate(-5deg); /* IE 9 */
    transform: rotate(-5deg);
}

/* sales */
.cp-center-1 {
    clip-path: polygon(0 0, 100% 0, 100% 74%, 97% 80%, 52% 100%, 50% 100%, 2% 80%, 0 74%);
}
.cp-center{
    clip-path: polygon(100% 0, 100% 80%, 49% 100%, 0 81%, 0 0);
}
.w-31{
    width: 32%;
}
.w-33{
    width: 33%;
}
.br-n-sm br{
    display: none;
}

/* -w- */

.width-90 {
    width: 97%;
}