/* Header */
.offerbutton .btn {
    background: transparent linear-gradient(90deg, #FFE600 , #FFC300 ) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    display: flex;
    width: 90%;
    color: #fff;
    line-height: 120%;
    font-weight: 700;
    padding: 23px 15px;
    align-items: center;
    border: 4px solid #FFF700;
}
.offerbutton .btn:hover {
    cursor: pointer;
    background-image: linear-gradient(89deg,#c68a06 0%,#ee9100 100%)!important;
}
.no-thanks {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.no-thanks {
    background-image: linear-gradient(90deg, #B9B9B9,#969696);
    padding: 15px 40px;
    margin: auto;
    width: 33%;
    border-radius: 15px;
}

.no-thanks:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg,#c68a06 0%,#ee9100 100%)!important;

}
.header-img {
    background-image: url(../img/header.png), linear-gradient(to right, #0D61A1, #1D90C9);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 100% -73px;
    background-size: 102%;
    padding-bottom: 369px;

}
.pads-20-40 {
    padding: 20px 40px;
}
.mt--100 {
    margin-top: -349px;
}
.w-103 {
    width: 103%;
}
.w-104 {
    width: 104%;
}
.w-107 {
    width: 107%;
}
.w-102 {
    width: 103%;
}
.w-30 {
    width: 39%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.wh-90 {
    width: 90%;
    height: 85%;
}

.w-110 {
    width: 110%;
}
.w-70 {
    width: 60%;
}
.p-5-24 {
    padding: 5px 24px;
}
.p-10-20 {
    padding: 20px 25px;
}
.bg-click {
    background-image: linear-gradient(to right, #0D61A1, #1D90C9);
}
.mtb-1 {
    margin-top: -7px;
    margin-bottom: -86px;
    margin-left: 40px;
}
.footer-bg {
    background-color: #002D50;
}
.bl-1 {
    color: #00ABFF;
}
.border-n {
    border: transparent;
    background-color: transparent;
}
.footer-link a:hover {
    color: #fff;
    opacity: 0.9;
}
.footer-link-1 a:hover {
    color: #0D61A1;
    opacity: 0.9;
}
.footer-link-1 {
    color: #0D61A1!important;

}
.footer-link-1:hover {
    color: #000;
    opacity: 0.9;
}
.p-32 {
    padding: 50px 0px;
}
.w-1 {
    width: 118%;
    margin-top: 10px;
    margin-bottom: -17px;
    margin-left: -15px;
}
.ml--23 {
    margin-left: -23px;
}
.border-1 {
    border: 1px solid #80B4F1;
}
.border-2 {
    border: 1px solid #00A4D4;
}
.pads-10-15 {
    padding: 10px 15px;
}
.bg-sect-1{
    background-image: url(../img/bg-sect-1.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-sect-2 {
    background-image: url(../img/bg-sect-2.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-sect-4 {
    background-image: url(../img/bg-sect-4.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.pads-20-35 {
    padding: 20px 35px;
}
.bg-sect-9{
    background-image: url(../img/bg-sect-9.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.mlr-50 {
    margin-right: 34px;
    margin-left: -57px;
}

.bg-sales {
    background-image: url(../img/bg-sales.png);
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mt--35 {
    margin-top: -35px;
}


.br-line-gray {
    border: 1px solid #CDCDCD;
    padding: 45px 10px 10px 10px;
}
.mw-200 {
    max-width: 200px;
}
.mw-30 {
    max-width: 30px;
}
.mb--45 {
    margin-bottom: -45px;
}
.br-line-gray-1 {
    border: 1px solid #CDCDCD;
}
.mlr-28{
    margin-left: 10px;
    margin-right: -33px;

}
.mw-50 {
    max-width: 50px;
}
.mw-441{
    max-width: 441px;
    margin-left: 25px;
}
.mw-510 {
    max-width: 510px;
}


.headfoot {
    background-color: #585858;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .headfoot .btn{
      background-color: none;
  }
  
  .set {
    margin-right: 30px;
  }
  
  .tiny-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .texts {
    color: #fff;
  }
  
  .texts {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
  }
  
  
  .blueback {
    background-color: #2F3474;
  }
  
  .newday-foot {
    max-width: 239px;
    margin-right: 50px;
  }
  
  .whole {
    margin-left: 50px;
    color: #fff;
  }
  
  .terms {
    padding-right: 10px;
    color: #fff;
  }
  
  .last-one {
    font-size: 12px;
    color: #fff;
    justify-content: center;
    align-items: center;
  }
  
  .last-time {
    text-align: center;
    font-size: 16px;
  }
  
  .last-time {
    text-align: center;
    font-size: 16px;
  }
  
  .last-time a{
    color: #fff;
  }
  
  
  .buygoods-container {
    background-color: #000;
  }
  
  .disclaimer {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    align-items: center;
    text-align: center;
    font-weight: normal;
  }

  
  
  
  
  @media screen and (max-width: 768px) {
  .headfoot-01 {
      flex-direction: column !important;
      align-items: center;
    }
  
    footer .btn{
        width: 100%;
    }
  
    .set {
      padding: 10px;
    }
  
    .final, .whole {
      flex-direction: column !important;
      align-items: center;
    }
  
  }
  





